.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contentOne{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    font-weight: 700;
    flex: 1;
}

.contentTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}
body{
    background-color: aqua;
    overflow: hidden;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.color{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
}

.contentTwoDotOne{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

button{
    height:  40px;
    width: 150px;
    font-size: 16px;
}

.contentTwoDotTwo{
    display: flex;
    flex-direction: column;
    height: 640px;
    width: 640px;
    background-color: beige;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 0;
}

.square{
    flex: 1;
    flex-wrap: wrap;
}



